<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" parallel="tests" verbose="2" thread-count="10">
    <test name="Testes Paralelos" parallel="methods">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="TestRunner"/>
            <class name="stepsdefs.basic"/>
            <class name="stepsdefs.login"/>
        </classes>
    </test>
</suite>